html{
    scroll-behavior: smooth;
  }

  .button {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  .animasi {
    overflow: hidden;
    transition: all 0.4s;
  }
  .animasi:hover {
    transform: translateY(-1.2rem);
  }

  .section {
    padding: 1.6rem 0;
  }

  .section-ex {
    padding: 0.1rem 0;
  }

  .section-contact {
    padding: 0.1rem 0;
  }